body{
  margin: 0;
  padding: 0;
  text-align: center;
  background: url(about.jpg);
  background-size: cover;
background-position: center;
font-family: sans-serif;
text-decoration: none;

}
h1{
	margin-top: 200px;
	text-decoration: none;

}